/*------------------------------------*\
    $CONTENU
\*------------------------------------*/
/**
 * GENERAL.............................
 * TYPOGRAPHIE.........................
 * HEADER..............................
 * NAVIGATION..........................
 * NAVBAR..............................
 * CAROUSEL-HEADER.....................
 * CAROUSEL-TEMOIGNAGE.................
 * FOOTER..............................
 */


/*------------------------------------*\
    $GENERAL
\*------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
	color: white;
	font-weight: 300;
}
.container-fluid {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;

}

header
{
	background-color: black;
	color: white;
	/*padding-right: 20px;
	padding-left: 60px;*/
}

section
{
  padding: 20px;
}

img {
  box-shadow: 0px 0px 7px 4px rgba(255,255,255,0.3);
}

.titre-classique {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid #eee;
}
  .titre-classique span {
    padding-bottom: 6px;
    border-bottom: 1px solid #FFFF00;
    font-size: 1em;
  }

.sous-titre {
  font-size: 1.8em;
  text-align: center;
}

.bienvenue {
  
  padding-top: 70px;
}
.accueil {
  padding-top: 30px;
}
.separateur {
  border-top: 2px solid #ffff00;
  border-bottom: 2px solid #ffff00;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-top: 50px;
  margin-bottom: 50px;
}
  .separateur i {
    margin-right: 20px;
  }

.liste-icones {
  margin-top: 30px;
  color: #fff;
}
  .liste-icones h4 {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
  }

.icon-wrap.icon-circle.icon-md {
line-height: 45px;
color: black
}
.icon-wrap.icon-md {
font-size: 1.5em;
width: 45px;
height: 45px;
}
.icon-wrap.icon-circle {
line-height: 30px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border-radius: 100%;
}
.icon-wrap {
display: inline-block;
text-align: center;
font-size: 1em;
width: 30px;
height: 30px;
}
.contrast-bg {
background-color: #FFFF00 !important;
}

.mentions-legales {
  margin-top: 50px;
  margin-bottom: 40px;
}
h3.titre-section {
  padding-bottom: 60px;
}




/*------------------------------------*\
    $TYPOGRAPHIE
\*------------------------------------*/
h1
{
	font-size: 2em;
}

h2 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
    color: white;   
}

h2 span
{
	font-weight: 400;
	color: #FFFF00;
}

h3 {
  font-size: 2.3em;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4 {
  font-size: 1.4em;
  color: #000;
}

p {
	font-size: 1.2em;
  color: #FFF;
}
ul {
	font-size: 1.2em;
}

hr {
  border: 1px solid #FFFF00;
  margin-top: 60px;
}

i.section-icone {
  font-size: 40px;
  color: #FFFF00;
  margin-top: 40px;
}


/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.header-right
{
	text-align: center;
}
  .header-right h3 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.3em;
    text-align: right;
  }

.logo {
  margin-top: 40px;
}
  h2.titre-logo {
    font-size: 3em;
    color: #FFFF00 !important;
  }
  .titre-logo span {
    font-size: 0.8em !important;
    color: #fff;
  }




/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 15px 0;
  padding-bottom: 0;

}

.navbar .navbar-inverse {
  border-bottom: 2px solid #FFFF00;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 15px;
  padding-bottom: 15px;
}

.navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
  background-color: #FFFF00;
  color: #000;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.navbar-inverse {
  border: none;
  background-color: #000;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #FFFF00;
  color: #000;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}
 
#topnavbar.affix
{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
  /*border-bottom: 1px solid yellow;*/
  box-shadow: 0px 4px 5px 0px rgba(255, 255, 0, 0.2);
}


/*------------------------------------*\
    $NAVTAB
\*------------------------------------*/
.nav-tabs
{
  border: none;
  margin-bottom: 30px;
}

.navtab-onglet
{
  width: 200px;
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover
{
  background-color: #FFFF00;
}

.img-responsive a:focus
{
  background-color: grey;
}

/*------------------------------------*\
    $CAROUSEL-HEADER
\*------------------------------------*/
.photos
{
	height: 400px;
}

#carousel-example-generic
{
  border-bottom: 2px solid yellow;
  box-shadow: 0px 15px 5px 0px rgba(255, 255, 255, 0.2);
}



/*------------------------------------*\
    $CAROUSEL-TEMOIGNAGE
\*------------------------------------*/
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #FFFF00;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -30px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -30px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #FFFF00;
}
#quote-carousel .carousel-indicators .active 
{
  background: #FFFF00;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 30px;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}



.page-header.page-header-with-icon {
    text-align: center;
    border-top: 2px solid #FFFF00;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 16px;
    margin: 70px 0 50px 0;
}
.page-header {
    position: relative;
    }
.page-header.page-header-with-icon>[class^="fa"], .page-header.page-header-with-icon>[class*=" fa"] {
    position: absolute;
    display: block;
    left: 50%;
    top: -25px;
    margin-left: -50px;
    color: #FFFF00;
    background-color: transparent;
    font-size: 3em;
    line-height: 50px;
    width: 100px;
    height: 50px;
}


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
}

footer, footer a {
	background-color: #FFFF00;
	color: #000;
}
	footer i {
		padding-right: 10px;
	}
	footer p {
		font-size: 1em;
    color: #000;
	}

i.facebook {
	background-color: #000;
	color: #FFFF00 !important;
	margin-left: 20px;
	border-radius: 50%;
}

.bottom-bar {
	background-color: #FFFF00;
	color: #000;
}
	.bottom-bar a {
		text-decoration: none;
		background-color: #FFFF00;
		color: #000;
	}
	.bottom-bar p {
		padding-top: 10px;
	}
	.bottom-bar i {
		color: #000;
	}

/* ------------ Atelier ----------- */


td, th{
  border: 1px solid black;
  padding: 20px 40px 20px 20px;
  color: #000;
}

th{
  text-align: center;
}

table{
  width: 100%;
  margin: auto;
}

.panel-title{
  text-align: center;
  font-size: 1.3em;
}


#accordion, #accordion2 {

  margin-top: 50px;

margin-bottom: 50px;

}

#photo{
  width: 100%;
  margin: auto;
}

.colonne2{
  text-align: right;
  color: #D34545;
}

.panel-heading{
  background-color: yellow;
}

.droit{
  text-align: right;
}

#texte_intro{
  padding: 130px;
  text-align: center;
}

#bloc1{
  margin-top: 50px;
}

/* ----------------- Ventes -------------------*/

.pieces-detachees
{
  width: 150px;
  height: 150px;
}

.popover-content
{
  color: black;
  text-align: center;
}

.popover-content ul
{
  list-style-type: none;
}


/* ----------------- Promotion -------------------*/

#bloc_promo{
  margin-top: 50px;
}

.icone-texte {
  margin-right: 15px;
}

.icone-liste {
  color: #FFFF00;
  padding-right: 15px;
}

.cadre{
border: 1px solid black;
border-radius: 15px;
background-color: white;
}

/*** produits PAGE /////////
///////////////////////////////// ***/
.carouselVente .item h4 {
  color: #fff;
}

.produits h3 {
    margin-bottom:20px;
}
.produits > p {
    margin-bottom:30px;
}
.produits .col-md-3{
  margin-bottom:40px; 
}
.produits .col-md-3 > img {
    margin-bottom:15px;
    width:100%;

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.produits .col-md-3 > h4 {
    color:#fff;
    font-size:16px;
    font-weight:400;
    margin-bottom:10px;
}
.votes {
    color: #E6E84A;
    float: left;
    line-height: 10px;
    width: 100%;
}
.produits-prix > span {
    color: #CCCBCB;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.produits-prix > p {
    color: #FFFF00;
    float: left;
    font-size: 22px;
}
.produits-prix > a {
    background: none repeat scroll 0 0 #626262;
    color: #F4F4F4;
    float: right;
    font-size: 12px;
    padding: 5px 10px;
  
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}


/*** ALIGNED IMAGES ***/
.aligned img {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.aligned {
    float: left;
}
.aligned.right {
    text-align: right;
}
.aligned.right img{
  margin-left:15px;
}
.aligned.left {
    text-align:left;
}
.aligned.left img{
  margin-right:15px;
}
.aligned h5 {
    color: #5D5D5D;
    font-family: roboto;
    font-size: 16px;
    margin-bottom: 20px;
}

/*design des images dans accessoires*/
.img-accesoires{
  height: 200px;
  width: auto;
}
/*logo on scroll */
h2.titre-logo-on-scroll {
    font-size: 25px !important;
}
.hidden{
  display: none;
}