body {
	font-family: 'Open Sans', sans-serif;
}
header
{
	background-color: black;
	color: white;
	/*padding-right: 20px;
	padding-left: 60px;*/
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.8em
}

h2 span
{
	color: #FFFF00;
	font-size: 2em;
}
h3 {
	font-weight: 300; 
}
p {
	font-size: 1em;
}

section
{
	padding: 20px;
}

.titre-classique {
	margin-bottom: 16px;
	padding-bottom: 8px;
	border-bottom: 2px solid #eee;
}
	.titre-classique span {
		padding-bottom: 6px;
		border-bottom: 1px solid #FFFF00;
		font-size: 1em;
	}



.header-right
{
	text-align: center;
}

.navbar
{
	background-color: black;
	border: none;
	border-radius: 0px;
	padding-right: 40px;
	margin-bottom: 0;
}

.navbar-brand
{
	display: none;
}

.navbar .nav.pull-right 
{
    float: right;
}

.navbar-default .navbar-nav > li > a /* changement couleur de la navbar bootstrap */
{
	color: white;
}

#topnavbar.affix
{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.bandeau-promo {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid #d3d3d3;
    background-color: #FFFF00;
}
.shadow-image {
    position: absolute;
    left: 50%;
    margin-left: -544px;
    bottom: -51px;
}

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
.photos
{
	height: 400px;
}


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer, footer a {
	background-color: #000;
	color: #fff;
}
	footer i {
		padding-right: 10px;
		color: #FFFF00;
	}

.top-footer {
	padding-bottom: 20px;
}
	i.facebook {
		background-color: #000;
		color: #FFFF00 !important;
		margin-left: 20px;
		border-radius: 50%;
	}

.bottom-bar {
	background-color: #FFFF00;
	color: #000;
}
	.bottom-bar a {
		text-decoration: none;
		background-color: #FFFF00;
		color: #000;
	}
	.bottom-bar p {
		padding-top: 10px;
	}
	.bottom-bar i {
		color: #000;
	}
